/* -------------------------------------------------- start classes -------------------------------------------------------- */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: #f5f5f5;
    color: #4e4e4e;
}
h1, h2, h3, h4, h5, h6 {
    color: #1e1e1e;
}

.text-black {
    color: #212529!important;
}
.text-gray {
    color: #dee3e4 !important;
}

.fw-400 {
    font-weight: 400 !important;
}
.fw-600 {
    font-weight: 600 !important;
}

.text-2{
    font-size: 0.875rem !important;
}
.text-3 {
    font-size: 1rem !important;
}
.text-4 {
    font-size: 1.125rem !important;
}
.text-5 {
    font-size: 1.3125rem !important;
}
.text-6{
    font-size: 1.50rem !important;
}
.text-7 {
    font-size: 1.75rem !important;
}
.text-9 {
    font-size: 2.25rem !important;
}
.text-12 {
    font-size: 3rem !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.text-24{
    line-height: 1.3;
   font-size: 6rem;
   letter-spacing: 15PX;
}
.container{
    /* width: 85%;
    margin: auto; */
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #1e1e1e;
}

/* ------------------------------------------------------- Header ---------------------------------------------------- */

header {
    transition: all 0.5s;
    z-index: 999;
    padding: 13px 0;
    background-color: rgb(0 0 0 / 80%);
}
.header-layer{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.logo{
    font-size: 28px;
    letter-spacing: 1px;
}
header ul{
    list-style: none;
}
.navbar ul li {
    position: relative;
    padding: 10px 0 10px 30px;
}


.navbar a, .navbar a:focus {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
}

.active .navbar li:hover a {
    color: #fff;
}
.header-list a::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;

    position: absolute;
    bottom: -6px;
    left: 0;

    width: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:after,.navbar .active:after {
    visibility: visible;
    width: 80%;
    transition: all 0.3s ease-in-out 0s;
}

.navbar .dropdown ul {

    position: absolute;
    left: 30px;
    top: calc(100% + 30px);

    margin: 0;
    padding: 10px 0;
    z-index: 99;
    visibility: hidden;
    background: #fff;
    transition: 0.3s;
}
.drop-down-ancor{
    text-decoration: none;
}
.drop-down-ancor:hover{
    text-decoration: none;
}

/* ---------------------------------------------------- home ------------------------------------------------------------------ */

.home {
    height: 100vh;
    color: #fff;
    background-image: url(../images/Home-section/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.overlay-black {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.9;
}

.home-content {
    text-align: center;
}

.home-title {
    color: #fff;
    font-weight: 600;
    font-size: 4.5rem;
}
.home-container{
    position: absolute;
    top: 35%;
    left: 3%;
}
.font-home{
    font-size: 2.5rem;
}
.home-container p::after{
    content: '|';
    animation-name: subtitle;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
@keyframes subtitle {
    0%{content: '|';}
    2%{content: 'D|';}
    4%{content: 'De|';}
    6%{content: 'Des|';}
    8%{content: 'Desi|';}
    10%{content: 'Desig|';}
    12%{content: 'Design|';}
    14%{content: 'Designe|';}
    16%{content: 'Designer|';}
    18%{content: 'Designe|';}
    20%{content: 'Design|';}
    22%{content: 'Desig|';}
    24%{content: 'Desi|';}
    26%{content: 'Des|';}
    28%{content: 'De|';}
    30%{content: 'D|';}
    32%{content: '|';}


    34%{content: 'D|';}
    36%{content: 'De|';}
    38%{content: 'Dev|';}
    40%{content: 'Deve|';}
    42%{content: 'Devel|';}
    44%{content: 'Develo|';}
    46%{content: 'Develop|';}
    48%{content: 'Develope|';}
    50%{content: 'Developer|';}
    52%{content: 'Develope|';}
    54%{content: 'Develop|';}
    56%{content: 'Develo|';}
    58%{content: 'Devel|';}
    60%{content: 'Deve|';}
    62%{content: 'Dev|';}
    64%{content: 'De|';}
    66%{content: 'D|';}
    68%{content: '|';}


    70%{content: 'F|';}
    72%{content: 'Fr|';}
    74%{content: 'Fre|';}
    76%{content: 'Free|';}
    78%{content: 'Freel|';}
    80%{content: 'Freela|';}
    82%{content: 'Freelan|';}
    84%{content: 'Freelanc|';}
    86%{content: 'Freelance|';}
    88%{content: 'Freelancer|';}
    90%{content: 'Freelance|';}
    91%{content: 'Freelanc|';}
    92%{content: 'Freelan|';}
    94%{content: 'Freela|';}
    95%{content: 'Freel|';}
    96%{content: 'Free|';}
    97%{content: 'Fre|';}
    98%{content: 'Fr|';}
    99%{content: 'F|';}
    100%{content: '|';}

}
/* --------------------------------------------------- About ------------------------------------------------------------------ */

.about-box{
    margin-bottom: 3rem;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
    padding: 3rem;
}

.padding-y{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.strong-words {
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}
.progress {
    height: 0.7rem;
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
}
.About-me-box {
    margin-bottom: 3rem;
}
.font-2{
    font-size: 2rem;
}
.title-txt:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}
.margin-bottom-4{
    margin-bottom: 4rem;
}
.title-font{
        font-size: 3rem;
        font-weight: bold;
}
.subtitle::after{
    content: "";
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    position: absolute;
    top: 160%;
    right:48%

}
.each-box{
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}
.service-content{
    margin-top: 1rem;
}
.service-icon-rounded{
        height: 100px;
        width: 100px;
        font-size: 2.5rem;
        border-radius: 50%;
/*         line-height: 1.55; */
        margin: 0 auto;
        box-shadow: 0 0 0 10px #0078ff;
        color: #1e1e1e;
        font-weight: 600;
        transition: all 500ms ease;
}
.service-icon-rounded:hover{
    color: #fff;
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #cddef5;
    
}

/* --------------------------------------------------------- Overlay ---------------------------------------------------------- */

.main-counter{
    position: relative;
    padding: 8rem 0;
    background-image: url(../images/counter-section/counters-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;

}
.background-overlay{
    background-color: #0078ff;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.7;
}
.counter-col{
    color: #fff;
    text-align: center;
}
.counter-content{
    margin-top: 1rem;
}
.counter-icon{
    height: 60px;
    width: 60px;
    box-shadow: 0 0 0 10px #cde1f8;
    font-size: 2rem;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter-content p{
    font-size: 2rem;
}

/* -------------------------------------------------------- Portfolio ----------------------------------------------------- */

.pt-4r{
    padding-top: 4rem;
}

.mb-4r{
    margin-bottom: 4rem;
}
.portfolio-box {
    background-color: #fff;
    margin-bottom: 3rem;
}
.port-img{
    transition: all 0.5s ease-in-out;
}
.port-img img {
    transition: all 1s;
}
.port-content {
    padding: 2rem 1rem 1rem 1rem;
}
.port-title {
    font-size: 1.2rem;
}
.details {
    color: #4e4e4e;
    font-size: 0.8rem;
}
.blue-details {
    color: #0078ff;
}
.plus-icons {
    font-size: 2.5rem;
    color: #0078ff;
    float: right;
}
.portfolio-box:hover .port-img img {
    transform: scale(1.3);
  }
  .port-img{
    overflow: hidden;
  }


  /* ---------------------------------------------------- testimonials ----------------------------------------------------- */

  .testimonials{
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 8rem 0;
    height: 88vh;
    overflow: hidden;
  }

  .person-img {
    margin-top: 1rem;
}


.person-name {
    color: #fff;
    font-weight: 600;
    margin: 1rem 0;
    font-size: 1.4rem;
}

.carousel-indicators ol{
    position: relative;
    top: 75%;
}
.carousel-indicators li{
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
}

/* ------------------------------------------------------- Blog ------------------------------------------------------------ */

:root{
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
}
.card-blog{
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
    border-color: rgba(0, 0, 0, 0.175);
}
.avatar {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
}
.blog-content{
    padding: 1rem;
}
.blog-end{
    background-color: #f5f5f5;
}
.blog-end{
    padding: 0.6rem;
}
.blog-category{
    position: absolute;
    text-align: center;
    top: -16px;
    left: 38%;
    line-height: 25px;
}
.blog-category p{
    color: #fff;
    background-color: #0078ff;
    padding:0 15px 5px;
    border-radius: 4px;
    font-size: 0.7rem;
    letter-spacing: 0.1px;
    font-weight: 600;

}
.blog-title{
    margin-top: 0.6rem;
    font-size: 1.3rem;
}
.blog-title a {
    color: #1e1e1e;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.blog-title a:hover{
    text-decoration: none;
    color: #0078ff;
}
.writer:hover{
    color: #0078ff;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

/* ----------------------------------------------------- contact -------------------------------------------------------------- */

.mt-4r{
    margin-top: 4rem;
}
.contact-section{
    background-image: url(../images/overlay-bg.jpg);
    padding: 4rem 0 0 0;
}
.white-box{
    background-color: #fff;
    position: relative;
    z-index: 5;
    padding: 3rem 3rem;   
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}
.button{
    background-color: #0078ff;
    font-size: 1.2rem;
    color: #fff;
    padding: 10px 24px;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: 0.4s;
    
}
.button:hover {
    background: #3393ff;
    box-shadow: 0 0 0 3px #cddef5;
}
.lh-2{
    line-height: 0.9;
}
.more-info ul li{
    display: flex;
}
.more-info ul li i{
    color: #0078ff;
}
.social-icons ul{
    padding: 1.5rem 0;
    list-style: none;
    
}
.social-icons a {
    transition: all 0.5s ease-in-out;
}
.social-icons li i{
    color: #1e1e1e;
}
.icon-circle {
    height: 80px;
    width: 80px;
    font-size: 1.2rem;
    border-radius: 50%;
    line-height: 1;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px #0078ff;
    transition: all 500ms ease;
    padding: 5px 10px 8px 10px;
}
.icon-circle:hover {
    background-color: #0078ff;
    box-shadow: 0 0 0 3px #cde1f8;
    transition: all 500ms ease;
}
.icon-circle:hover i{
    color: #fff;
}

/* ------------------------------------------------------ footer --------------------------------------------------------- */

footer{
    text-align: center;
    color: #fff;
    padding: 25px 0;
    background: #0062d3;
}
.copyright-txt{
    margin-bottom: 0.3rem;
}